/***************************************************************************
    Use these colors for consistency - import at the top wherever needed
***************************************************************************/

$miamiBlue: #0bd3d3;
$miamiPink: #f890e7;
$miamiWhite: #ffffff;
$miamiAlto: #d0d0d0;
$miamiBlack: #000000;
